@font-face {
	font-family: 'Saira';
	src: url('fonts/Saira-VariableFont_wdth,wght.ttf') format('truetype');
}

.button_container {
	display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 450px;
	margin-left: auto; 
	margin-right: auto;
	margin: 20px auto;
}

.button {
	align-items: center;
	background-color: white;
	padding: 12px 30px;
	color: black;
	font-size: 20px;
	border-radius: 40px;
	text-decoration: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.02);
}

.button:hover {
	background-color: #ddd;
}