@font-face {
	font-family: 'Saira';
	src: url('fonts/Saira-VariableFont_wdth,wght.ttf') format('truetype');
}

body {
    font-family: 'Saira', sans-serif;
    margin: 0; 
    padding: 0;
	background-color: #F2F0EF;
}
nav {
	background-color: #333;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
nav ul { 
	list-style: none; 
	margin: 0; 
	padding: 0; 
}
nav li { 
	display: inline-block; 
}
nav li a { 
	display: block;
	color: white; 
	padding: 12px 24px; 
	text-decoration: none; 
}
nav li a:hover { 
	background-color: #555; 
}
.dropdown { 
	position: relative; 
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dropdown-content a { 
	color: black; display: block; 
}
.dropdown-content a:hover { 
    background-color: #ddd;
}
.dropdown:hover .dropdown-content { 
	display: block; 
}
.leftSplit {
	display: flex; 
	justify-content: flex-start; 
	margin-left: 50px; 
	gap: 10px;
}
::placeholder {
  font-family: 'Saira', sans-serif;
}
table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        font-size: 14px;
    }
th {
        background-color: #0078d7;
        color: white;
    }
tr:nth-child(even) {
        background-color: #f7f7f7;
    }
.totals {
        font-weight: bold;
        color: #d9534f;
    }