@font-face {
  font-family: 'Saira';
  src: url('fonts/Saira-VariableFont_wdth,wght.ttf') format('truetype');
}

body {
    font-family: 'Saira', sans-serif;
    margin: 0; 
    padding: 0;
}
nav {
	background-color: #333;
}
nav ul { 
	list-style: none; margin: 0; padding: 0; 
}
nav li { 
	display: inline-block; 
}
nav li a { 
	display: block; color: white; padding: 14px 16px; text-decoration: none; 
}
nav li a:hover { 
	background-color: #555; 
}
.dropdown { 
	position: relative; 
} 
.dropdown-content {
    display: none; /* Hide dropdown by default */
    position: absolute; /* Position it below the parent */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dropdown-content a { 
	color: black; display: block; 
}
.dropdown-content a:hover { 
    background-color: #ddd;
}
.dropdown:hover .dropdown-content { 
	display: block; 
}
